<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Portfolio.css') }}">

</head>
<body>
    <h1>Your Portfolio</h1>
    <a href="/" style="text-decoration: none;">
    <button type="button">Back</button>
    </a>
    <h2>Cash Balance: ${{ "%.2f"|format(cash_balance) }}</h2>
    <h2>Total Portfolio Value: ${{ "%.2f"|format(total_portfolio_value) }}</h2>
    <h2>
    Total PnL: 
    <span class="{{ 'positive' if total_pnl >= 0 else 'negative' }}">
        ${{ "%.2f"|format(total_pnl) }}
    </span>
    </h2>
    <form action="/add_cash" method="post">
    <label for="amount">Add Cash:</label>
    <input type="number" name="amount" id="amount" step="0.01" min="0.01" required>
    <button type="submit">Add</button>
    </form>
    <br></br>

    <table border="1">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Avg. Buy Price</th>
                <th>Current Price</th>
                <th>PnL</th>
                <th>PnL %</th>

            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.avg_price }}</td>
                <td>{{ stock.current_price }}</td>
                <td class="{{ 'positive' if stock.pnl >= 0 else 'negative' }}">
                    {{ "%.2f"|format(stock.pnl) }}
                </td>
                <td class="{{ 'positive' if stock.pnl_percent >= 0 else 'negative' }}">
                    {{ "%.2f"|format(stock.pnl_percent) }}%
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>
